[submodule "kotlin-components"]
	path = kotlin-components
	url = https://github.com/05nelsonm/kotlin-components.git
[submodule "library/binary-build/tor-browser-build"]
	path = library/binary-build/tor-browser-build
	url = https://gitlab.torproject.org/tpo/applications/tor-browser-build.git
