[submodule "external/libevent"]
	path = external/libevent
	url = https://github.com/libevent/libevent.git
[submodule "external/openssl"]
	path = external/openssl
	url = https://github.com/openssl/openssl.git
[submodule "external/xz"]
	path = external/xz
	url = https://git.tukaani.org/xz.git
[submodule "external/tor"]
	path = external/tor
	url = https://gitlab.torproject.org/tpo/core/tor.git
[submodule "external/zlib"]
	path = external/zlib
	url = https://github.com/madler/zlib.git
